<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-2">
        <h5>App</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Download Android</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Download IOS</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Corporativo</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contatos</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Localização</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Eventos</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Parcerias</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Central de ajuda</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Plataforma</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Funcionalidades</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preços</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Perguntas frequentes</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sobre nós</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h5>Se inscreva na nossa newsletter</h5>
          <p>Aproveite o conteúdo incrível</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Endereço de e-mail</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="E-mail">
            <button class="btn btn-primary" type="button">Inscrever</button>
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>© 2022 - 7 Andar. Todos os direitos reservados.</p>

      <div class="footer-avatars">
        <h4 class="mb-3">Nosso time:</h4>
        <ul class="list-unstyled d-flex gap-3">
          <li><a href="https://github.com/bdellacoletta" target="_blank""><%= image_tag "avatar-branca.jpg", class: "avatar-footer rounded-circle" %></a></li>
          <li><a href="https://github.com/BrunoShingai" target="_blank""><%= image_tag "avatar-bruno.jpg", class: "avatar-footer rounded-circle" %></a></li>
          <li><a href="https://github.com/igorRicci" target="_blank""><%= image_tag "avatar-igor.jpg", class: "avatar-footer rounded-circle" %></a></li>
          <li><a href="https://github.com/matheusfortini7" target="_blank""><%= image_tag "avatar-matheus.jpg", class: "avatar-footer rounded-circle" %></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
