.navbar-lewagon {
  justify-content: space-between;
  background: #F5F2E4;;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}
