// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #F5F2E4;
}

.property-name {
  margin-right: 0;
}

.box-sale-images {
  height: 500px;
  width: 100%;
}

.box-sale-images-small {
  width: 520px;
}

.sale-image {
  object-fit: cover;
}

.right-image {
  height: 50%;
}

.big-image {
  height: 100%;
  width: 100%;
}
